<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <h2 class="text-center">Welcome to your Profile, <%= @current_user.name%></h2>
    <h2 class="text-center">Edit Info</h2>
    <%= bootstrap_form_for(:user, url: '/profile', method: 'patch') do |f| %>
      <%= f.text_field :name, :value => @current_user.name  %>
      <%= f.text_field :email, :disabled => true, :value => @current_user.email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Submit" %>
    <% end %>
   </div>
  </div> 
</div>