<h1>Update your password</h1>

<p>Please enter the new password below and then press "Update Password".</p>

<%= form_tag reset_path, :method => :patch do %>
  <%= password_field_tag :password %>
  <%= password_field_tag :password_confirmation %>
  <%= hidden_field_tag :token, @token %>

  <%= submit_tag "Update Password" %>
<% end %>